.spirited-away{
    height: 500px;
    border-radius: 100px;
}

.jujitsu-kaisen{
    height: 500px;
    border-radius: 100px;
    width: 750px;
}

.the-social-network{
    height: 500px;
    border-radius: 100px;
    width: 750px;
}